
<div *ngIf="storage">
    <h2><span jhiTranslate="dontwant2FailApp.storage.detail.title">Storage</span> {{storage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dontwant2FailApp.storage.name">Name</span></dt>
        <dd>
            <span>{{storage.name}}</span>
        </dd>
        <dt><span jhiTranslate="dontwant2FailApp.storage.own">Own</span></dt>
        <dd>
            <span>{{storage.own}}</span>
        </dd>
        <dt><span jhiTranslate="dontwant2FailApp.storage.primary">Primary</span></dt>
        <dd>
            <span>{{storage.primary}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'storage-mag/'+ storage.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
